Repository CardanoSolutions/ouroboros-consensus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coot, @bolt12, @nfrisby, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @njd42, @peterwthomson, @dnadales, @input-output-hk/devops, @newhoggy

Downgrade text to ^>=1.2
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-diffusion/ouroboros-consensus-diffusion.cabal
  ouroboros-consensus/ouroboros-consensus.cabal
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners, @coot, @bolt12, @input-output-hk/network-superowners

Downgrade text to ^>=1.2
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-diffusion/ouroboros-consensus-diffusion.cabal
  ouroboros-consensus/ouroboros-consensus.cabal
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners, @coot, @bolt12, @input-output-hk/network-superowners

Add 'AuxLedgerEvent' hook to ledgerDbSwitch
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/LedgerDB/Update.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Finish threading 'handleLedgerEvent' callback through the consensus stack
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/LedgerDB/Init.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/LedgerDB/Update.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Wire 'handleLedgerEvent' in the diffusion & chainDB code.
  ouroboros-consensus-diffusion/src/ouroboros-consensus-diffusion/Ouroboros/Consensus/Node.hs
Owners: @coot, @bolt12, @nfrisby, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners

Fix failing tests
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/test/consensus-test/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test/storage-test/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Wrap event handler as a newtype
  ouroboros-consensus-diffusion/src/ouroboros-consensus-diffusion/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/LedgerDB/Init.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/LedgerDB/Update.hs
Owners: @coot, @bolt12, @nfrisby, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @dnadales

Inject header hash and slotno into ledger events handler
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/LedgerDB/Update.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Fix more tests
  ouroboros-consensus-cardano/src/unstable-cardano-tools/Cardano/Tools/DBAnalyser/Run.hs
  ouroboros-consensus-cardano/src/unstable-cardano-tools/Cardano/Tools/DBSynthesizer/Run.hs
  ouroboros-consensus-diffusion/src/unstable-diffusion-testlib/Test/ThreadNet/Network.hs
  ouroboros-consensus/test/consensus-test/Test/Consensus/MiniProtocol/BlockFetch/Client.hs
  ouroboros-consensus/test/consensus-test/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test/storage-test/Test/Ouroboros/Storage/ChainDB/FollowerPromptness.hs
  ouroboros-consensus/test/storage-test/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test/storage-test/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners, @coot, @bolt12, @input-output-hk/network-superowners

WIP: does not compile
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/LedgerDB/Update.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Added previous block header hash and current block no to LedgerEventHandler
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/LedgerDB/Update.hs
  ouroboros-consensus/test/storage-test/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test/storage-test/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Changed LedgerEventHandler to emit a list of AuxLedgerEvents so that clients can now if a rollback occurred, or if they missed an event.
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/LedgerDB/Update.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Fix broken ouroboros-consensus-diffusion with missing 'blk' type parameter for LedgerEventHandler
  ouroboros-consensus-diffusion/src/ouroboros-consensus-diffusion/Ouroboros/Consensus/Node.hs
Owners: @coot, @bolt12, @nfrisby, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners

Downgrade text to ^>=1.2
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-diffusion/ouroboros-consensus-diffusion.cabal
  ouroboros-consensus/ouroboros-consensus.cabal
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners, @coot, @bolt12, @input-output-hk/network-superowners

Fix type parameter in LedgerEventHandler
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Basics.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Add Monoid instance for LedgerEventHandler
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Basics.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Unpin vector
  ouroboros-consensus/ouroboros-consensus.cabal
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Add support for emitting ConsensusEvents (as opposed to LedgerEvents) in BlockProtocol specificially for ExtLedgerState
  ouroboros-consensus-diffusion/src/ouroboros-consensus-diffusion/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus-protocol/src/ouroboros-consensus-protocol/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus-protocol/src/ouroboros-consensus-protocol/Ouroboros/Consensus/Protocol/TPraos.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/HardFork/Combinator/Protocol.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/HeaderStateHistory.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Protocol/BFT.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Protocol/PBFT.hs
Owners: @coot, @bolt12, @nfrisby, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @dnadales

Adjustments for introduction of ConsensusEvent and ConsensusResult types
  ouroboros-consensus-cardano/src/unstable-cardano-tools/Cardano/Tools/DBAnalyser/Analysis.hs
  ouroboros-consensus-cardano/src/unstable-cardano-tools/Cardano/Tools/DBSynthesizer/Forging.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/src/unstable-mock-block/Ouroboros/Consensus/Mock/Protocol/LeaderSchedule.hs
  ouroboros-consensus/src/unstable-mock-block/Ouroboros/Consensus/Mock/Protocol/Praos.hs
  ouroboros-consensus/src/unstable-tutorials/Ouroboros/Consensus/Tutorial/Simple.lhs
  ouroboros-consensus/src/unstable-tutorials/Ouroboros/Consensus/Tutorial/WithEpoch.lhs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners, @coot, @bolt12, @input-output-hk/network-superowners

Fix formatting
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/HardFork/Combinator/Protocol.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Extended.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Add a type family wrapper for consensus events
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/HardFork/Combinator/Protocol.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/TypeFamilyWrappers.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Change the type param name in WrapConsensusEvent
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/TypeFamilyWrappers.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

patch GetSnapshots query to return full mark snapshot.
  ouroboros-consensus-cardano/src/shelley/Ouroboros/Consensus/Shelley/Ledger/Query.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

use patched ledger for rewards provenance
  cabal.project
Owners: @coot, @bolt12, @nfrisby, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners

add support for new ledger state query for drep delegations.
  cabal.project
  ouroboros-consensus-cardano/src/ouroboros-consensus-cardano/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/src/shelley/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-cardano/src/shelley/Ouroboros/Consensus/Shelley/Ledger/Query.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Ledger/Query/Version.hs
Owners: @coot, @bolt12, @nfrisby, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @dnadales

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Marcin Armando Nick      "Higher ups"
*                                  @coot  @bolt12 @nfrisby  @input-output-hk/consensus-superowners @input-output-hk/network-superowners

# Network Team

docs                               @coot @bolt12 @njd42 @peterwthomson @input-output-hk/network-superowners

io-sim                             @coot @input-output-hk/network-superowners
io-sim-classes                     @coot @input-output-hk/network-superowners

network-mux                        @coot @input-output-hk/network-superowners
ntp-client                         @coot @input-output-hk/network-superowners
typed-protocols                    @coot @input-output-hk/network-superowners
typed-protocols-examples           @coot @input-output-hk/network-superowners
Win32-network                      @coot @input-output-hk/network-superowners

ouroboros-network-framework        @coot @input-output-hk/network-superowners
ouroboros-network                  @coot @input-output-hk/network-superowners
ouroboros-network/wireshark-plugin @coot @input-output-hk/network-superowners
ouroboros-network-testing          @coot @input-output-hk/network-superowners

cardano-client                     @coot @input-output-hk/network-superowners

scripts/haddocs.sh                 @coot @input-output-hk/network-superowners
scripts/install.ps1                @coot @input-output-hk/network-superowners
scripts/test.sh                    @coot @input-output-hk/network-superowners

# Consensus Team

ouroboros-consensus/               @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-test/          @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-mock/          @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-mock-test/     @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-byron/         @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-byronspec/     @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-byron-test/    @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-shelley/       @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-shelley-test/  @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-cardano/       @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-cardano-test/  @nfrisby @dnadales @input-output-hk/consensus-superowners

scripts/buildkite/check-stylish.sh @nfrisby @input-output-hk/consensus-superowners

# CICD

bors.toml                          @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
nix/                               @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
*.nix                              @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/                 @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

cabal.project.local.ci.windows     @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
cabal.project.local.github-pages   @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/github-page.yml  @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

.buildkite/slow-ThreadNet-tests.sh @nfrisby @input-output-hk/consensus-superowners
.buildkite/validate-mainnet.sh     @nfrisby @input-output-hk/consensus-superowners
